$background-color: black;
$icon-color: #F38BDC;
$text-color-primary: #F38BDC;
$text-color-secondary: #7C37AB;
$border-container-style: solid 2px #AF96BC;
$bg-container-style: linear-gradient(37deg, rgba(15,20,33,1) 0%, rgba(48,35,57,1) 50%, rgba(75,47,77,1) 100%);
$text-color-footer-primary: white;
$text-color-footer-secondary: rgba(255,255,255,0.5);
$bg-card: rgba(41, 45, 50, 0.65);
$text-family-footer: "Inter", system-ui;
$text-family-body: "Plus Jakarta Sans";
$text-weight-titles: 800;
$text-weight-subtitles: 600;
$text-weight-paragraphs: 400;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
      margin: 0;
      padding: 0;
}

body{
      background-color: $background-color;
      font-family: $text-family-body;
      padding: 0 2rem;
}


.navbar {
      background-color: black !important; 
      padding: 1rem;
      transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  }
  
  .navbar.scrolled {
      background-color: rgba(0, 0, 0, 0.3) !important;
      backdrop-filter: blur(3px);
  }
  

.container-fluid{
      justify-content: space-around !important;
}

.navbar-brand{
      padding: 0;
      margin: 0;
}
.navbar-brand img{
      max-width: 3rem;
}

.collapse{
      flex-grow: 0;
}

.navbar-nav{
      margin-right: 0 !important;
}

.nav-item{
      padding: 0 1rem;
}

.nav-link{
      color: $text-color-primary;
      font-weight: $text-weight-subtitles;
}
.nav-link:hover{
      color: $text-color-secondary !important;
}

.nav-link:visited{
      color: $text-color-primary;
}

.nav-link.active{
      color: $text-color-secondary !important;
}

.navbar-toggler{
      border: solid 1px #F38BDC;
}

.navbar-toggler-icon{
      background-image: url(./assets/toggleIcon.png);
}

.container-feedbacks{
      border:$border-container-style;
      background: $bg-container-style;
      color: $text-color-primary;
      margin-top: 10rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
}

.container-feedbacks h1{
      margin: 1rem 0;
      font-weight: $text-weight-subtitles;

}

.carousel-inner {
      max-width: 70%;
      margin: 0 auto;
}

.item{
      display:flex;
      flex-direction: column;
      gap: 4rem;
}

.card-container{
      border: $border-container-style;
      border-radius: 2rem;
      padding: 2rem;
      background-color: $bg-card;
}

.card-title{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;
      flex-wrap: wrap;
}

.avatar{
      width: 5rem;
      height: 5rem;
      border-radius: 10rem;
      object-fit: cover;
      margin-right: 5%;
}
